.preview-img-container {
    .label-upload {
        padding      : 5px;
        border-radius: 3px;
        background   : #ddd;
        cursor       : pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .label-upload {
        margin-top: 12px;
    }

    .preview-image {
        height         : 50px;
        width          : 100%;
        border         : 2px solid #ddd;
        background     : center center no-repeat;
        background-size: contain;
        cursor         : pointer;
    }
}